.intro_box {
  border: 5px solid rgba(87, 77, 77, 0.493);
  border-radius: 20px;
  width: 900px;
  height: 500px;
  
  background-color: #ffffff;
  
  margin-left: 250px;
  margin-top: 100px;

}

#intro_img {
  width: 270px;
  height: 310px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 20px;
  border: 3px solid rgba(87, 77, 77, 0.493);
  margin-left: 20px;

}
#detail{
  margin-left: 30px;
  font-size: 25px;
}
#name{
  margin-left: 200px;
  font-style: oblique;

}



.canhle{
  display: flex;
}
#price{
  margin-left: 190px;
  font-size: 60px;
}
button{
  margin-left: 190px;
  width: 200px;
  height: 40px;
  border-radius: 10px;

}
.slogan{
  margin-left: 100px;
  font-style: inherit;
  font-size: 30px;
}