body {
    background-image: url("https://wallpapertag.com/wallpaper/full/c/d/e/339760-coffee-background-2880x1800-htc.jpg");
    background-size: cover;
    background-color: #00000078;
    background-blend-mode: multiply;
}

img {
    width: 100%;
}
button{
    width: 400px;
    height: 60px;
    margin-left: 550px;
}